/target
/test
/Cargo.lock
/*.exe
/dist
/server.dat

# Added by cargo
#
# already existing elements were commented out

#/target
#/Cargo.lock


# Added by cargo
#
# already existing elements were commented out

#/target
